.projectsList__wrapper {
  margin: 150px 0 0;
  padding: 0;
  width: 100%;
}

.projectsList {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projectsList__addBtn {
  position: absolute;
  right: 20px;
  top: -100px;
  min-width: 35px;
  min-height: 35px;
  font: normal 400 0px/1 'Ubuntu';
  color: var(--white);
  background: none;
  outline: none;
  border: 2px solid var(--purple);
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
}

.projectsList__addBtn:hover {
  font-size: 16px;
  border-radius: 5px;
  padding: 0 5px;
}

.projectsList__addBtn:hover::before, .projectsList__addBtn:hover::after {
  opacity: 0;
  transition: .2s;
}

.projectsList__addBtn::before, .projectsList__addBtn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--purple);
  width: 16px;
  height: 2px;
  transition: .2s;
}

.projectsList__addBtn::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.projectsList__text {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 400 24px/1 "Ubuntu";
  color: var(--white);
  text-align: center;
}