.projectsList__wrapper {
  margin: 40px 0 0;
  padding: 0;
  width: 100%;
}

.projectsList {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projectsList__text {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 400 24px/1 "Ubuntu";
  color: var(--white);
  text-align: center;
}