* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --white: #FFFFFF;
  --light-blue: #AAB5DC;
  --dark-blue: #24252F;
  --dark: #141414;
  --black: #000000;
  --black-o50: rgba(0, 0, 0, 0.5);
  --purple: #BD00FF;
  --red: #FF0000;
  --green: #00CA39;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--dark);
  color: var(--white);
}

//.active {
//  color: var(--purple) !important;
//}

.active {
  background: var(--purple) !important;
  color: var(--white) !important;
}

.entering {
  opacity: 0;
}

.entered {
  animation: entering-anim .5s forwards;
}

.exiting {
  animation: exiting-anim .5s forwards;
}

.exited {
  //animation: exiting-anim .5s forwards;
  opacity: 0;
}

@keyframes entering-anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes exiting-anim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}