.projectsPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.projectsPage__controls {
  width: 100%;
  background: var(--dark-blue);
  margin: 40px 0 0;
  padding: 0;
}

.projectsPage__controlsInner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  box-sizing: border-box;
  padding: 20px 20px;
  margin: 0 auto;
}

.projectsList__addBtn {
  position: relative;
  min-width: 36px;
  min-height: 36px;
  font: normal 400 0px/1 "Ubuntu";
  color: var(--white);
  background: none;
  outline: none;
  border: 2px solid var(--purple);
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}

.projectsList__addBtn:hover {
  font-size: 16px;
  border-radius: 5px;
  padding: 0 5px;
}

.projectsList__addBtn:hover::before, .projectsList__addBtn:hover::after {
  opacity: 0;
  transition: .3s;
}

.projectsList__addBtn::before, .projectsList__addBtn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--purple);
  width: 16px;
  height: 2px;
  transition: .3s;
}

.projectsList__addBtn::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.projectsList__refreshBtn {
  position: relative;
  min-width: 36px;
  min-height: 36px;
  font: normal 400 0px/1 "Ubuntu";
  color: var(--white);
  background: no-repeat center / 20px url("../../../assets/img/refresh_ico.svg");
  outline: none;
  border: 2px solid var(--purple);
  border-radius: 50%;
  cursor: pointer;
  transition: .5s ease;
}

.projectsList__refreshBtn:hover {
  transform: rotate(360deg);
}